body {
  margin: 2;
  background-color: #001838;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 80vw;
  justify-content: center;
  align-items: center;
  padding: '1rem';
  flex-direction: column;
}

nav {
  width: '250px';
}

main {
  margin: 5;
  height: '100vh';
}

footer {
  bottom: 0%;
  position: fixed;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #11f8f9;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000826;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #6eb4fe;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid #11f8f9;
  gap: 1px;
  background-color: #11f8f9;
  border-radius: 8px;
  overflow: auto;
  color: #fff8e2;
}

li {
  background-color: #001838;
  color: fff8e2;
  padding: 8px;
}

li:hover {
  background: #000826;
}

a {
  font-weight: 800;
  text-decoration: none;
}

h1 {
  color: #fff8e2
}

p {
  color: #fff8e2
}